In [136]:
#dependencies
import pandas as pd

In [151]:
def find_abuse_words(sentence, abuse_words):
    """
    this function counts the occurence of swear word in given sentence. 
    :param sentence: sentence in column "tweet" dataframe
    :param abuse_words: list of swear words. 
    
    :return: number of swear word occurence in each sentence
    """
    sentence = sentence.split(' ')
    count = 0
    for w in abuse_words:
        if w in sentence:
            count += 1
    return count

def find_asterisk(sentence):
    """
    this function indicate the presence of asterisks in a sentence. 
    :param sentence: sentence in column "tweet" dataframe
    
    :return: binary number
    """
    return 1 if '*' in sentence else 0

In [152]:
## load the dataframes ##
df_abuse = pd.read_csv("../keyword/abusive_lexicon.csv")
df_train = pd.read_csv('../dataset/train.csv')
df_test = pd.read_csv('../dataset/test.csv')
abuse_words = list(set(df_abuse['word'].tolist()))

In [153]:
## apply function for train dataset ##
df_train['sw_count'] = df_train['tweet'].apply(lambda x: find_abuse_words(x, abuse_words))
df_train['len_tweet'] = df_train['tweet'].apply(lambda x: len(x))
df_train['asterisk'] = df_train['tweet'].apply(find_asterisk)
df_train.to_csv("../dataset/train_count_sw.csv", index=False)
df_train.head()

,tweet,label,sw_count,len_tweet,asterisk
0,she should ask a few native americans what th...,NOTABU,0,66,0
1,go home youâ€™re drunk!! maga trump202 ðŸ‡ºðŸ‡¸ url,NOTABU,0,44,0
2,amazon is investigating chinese employees who ...,NOTABU,0,176,0
3,someone should'vetaken this piece of shit to ...,NOTABU,1,57,0
4,obama wanted liberals amp illegals to move in...,NOTABU,0,59,0

In [149]:
## apply function for test dataset ##
df_test['sw_count'] = df_test['tweet'].apply(lambda x: find_abuse_words(x, abuse_words))
df_test['len_tweet'] = df_test['tweet'].apply(lambda x: len(x))
df_test['asterisk'] = df_test['tweet'].apply(find_asterisk)
df_test.to_csv("../dataset/test_count_sw.csv", index=False)
df_test.head()

,tweet,label,sw_count,len_tweet,asterisk
0,whoisq wherestheserver dumpnike declasfisa dem...,NOTABU,0,222,0
1,constitutionday is revered by conservatives ha...,NOTABU,1,109,0
2,foxnews nra maga potus trump ndamendment rnc u...,NOTABU,0,135,0
3,watching boomer getting the news that she is s...,NOTABU,0,128,0
4,nopasaran unity demo to oppose the far-right i...,EXP,0,87,0

In [ ]:
# df_train_asterisk = df_train[df_train['asterisk']==1]
# df_train_asterisk.to_csv('../dataset/train_asterisk.csv', index=False)