In [33]:
import nltk
from nltk.corpus import stopwords
nltk.download("stopwords")
import re
import pandas as pd
import os

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Widya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [34]:
def clean_tweet(tweet): #This cleaning can be improved, check train_asterisk.csv for info
    """
    This function is used to clean the sentence froom column "tweet" train and test dataframe
    :type tweet: string
    """
    tweet = re.sub(r"@[A-Za-z0-9]+", '', tweet)
    tweet = re.sub("#", "", tweet)
    # tweet = re.sub(r"[^a-zA-Z\s]", "", tweet) #Removes also inner *, but also emoticones
    tweet = re.sub(r"\s[^a-zA-Z]\s", " ", tweet) #This and 2 lower lines do not remove inner *, but also not emoticones
    tweet = re.sub(r"\s[^a-zA-Z]", " ", tweet)
    tweet = re.sub(r"[^a-zA-Z]\s", " ", tweet)
    tweet = tweet.strip('*')
    tweet = tweet.lower()
    
#     # Remove stopwords
#     stop_words = set(stopwords.words('english'))  
#     words = tweet.split()
#     words = [word for word in words if word not in stop_words]
    
#     tweet = ' '.join(words)
    return tweet

In [35]:
# Load the dataset #
df_train = pd.read_csv('../dataset/abuseval_train.csv')
df_test = pd.read_csv('../dataset/abuseval_test.csv')

In [36]:
#save training 
df_train['tweet'] = df_train['tweet'].apply(clean_tweet)
df_train = df_train.drop("id", axis=1)
df_train.rename(columns={"abuse":"label"}, inplace=True) 
df_train.to_csv('../dataset/train.csv', index=False)
df_train.head()

                                               tweet   label
0   she should ask a few native americans what th...  NOTABU
1        go home youâ€™re drunk!! maga trump202 ðŸ‡ºðŸ‡¸ url  NOTABU
2  amazon is investigating chinese employees who ...  NOTABU
3   someone should'vetaken this piece of shit to ...  NOTABU
4   obama wanted liberals amp illegals to move in...  NOTABU

In [32]:
#save test 
df_test['tweet'] = df_test['tweet'].apply(clean_tweet)
df_test = df_test.drop("id", axis=1)
df_test.rename(columns={"abuse":"label"}, inplace=True) 
df_test.to_csv('../dataset/test.csv', index=False)
df_test.head()

                                               tweet   label
0  whoisq wherestheserver dumpnike declasfisa dem...  NOTABU
1  constitutionday is revered by conservatives ha...  NOTABU
2  foxnews nra maga potus trump ndamendment rnc u...  NOTABU
3  watching boomer getting the news that she is s...  NOTABU
4  nopasaran unity demo to oppose the far-right i...     EXP