In [1]:
import pandas as pd

In [23]:
with open('../keyword/expandedLexicon.txt', 'r') as f:
    lines = f.readlines()

words = [l.split('_')[0] for l in lines]
scores = [float(l.split('\t')[1].strip('\n')) for l in lines]
df = pd.DataFrame()
df['word'] = words
df['score'] = scores
df = df[df['score']>0]
print ("---BASIC STAT OF LEXICON ---")
print(df.count())
print ("----------------------------")
df.to_csv('abusive_lexicon.csv', index=False)
df.head()

---BASIC STAT OF LEXICON ---
word     2989
score    2989
dtype: int64
----------------------------

         word     score
0    horrible  3.679601
1  disgusting  3.493682
2       moron  3.469677
3     bastard  3.399238
4      stupid  3.323882